.gitignore merge=ours
.gitattributes merge=ours
.brackets.json merge=ours
.eslintrc merge=ours
.htmlhintrc merge=ours
.jsbeautifyrc merge=ours
.jshintrc merge=ours
.jslintrc merge=ours
.brackets.json merge=ours
.editorconfig merge=ours
bower.json merge=ours
karma.conf.js merge=ours
gulp_config_files/**/* merge=ours
package.json merge=ours
frame/**/* merge=ours
src/less/**/* merge=ours
src/tpls/**/* merge=ours
frame_src/**/* merge=ours
src/app/main_run.js merge=ours
src/app/filters/**/* merge=ours
src/app/helpers/**/* merge=ours
src/app/main_config.js merge=ours
src/app/interceptors/**/* merge=ours
src/app/modules/authentication_module/**/* merge=ours
src/app/modules/authentication_module/**/* merge=ours
src/app/modules/data_store_module/app/services/request_definition_object.service.js merge=ours

*.png diff=exif
